<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">

  <md-toolbar color="primary">
    <span>Rocket Chat</span>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>

      <app-sidenav></app-sidenav>

    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <router-outlet></router-outlet>

    </div>
  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

  <button md-fab class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>

</div>
